@import "parciales/_variables.scss";
@import "parciales/_generales.scss";
@import "parciales/_header.scss";
@import "parciales/_boostrap.scss";
@import "parciales/_sec.scss";
@import "parciales/_banderas.scss";
@import "parciales/_footer.scss";
@import "parciales/_form.scss";
@import "parciales/_marcas.scss";
@import "parciales/_participantes.scss";
@import "parciales/_evento.scss";
@import "parciales/_mediaquerys.scss";
@import "parciales/_participantes2.scss"








