.banderas img{
    width: 200px;
    
}
.banderas{
    display: flex;
flex-wrap: nowrap;
/* margin: 10px; */
align-items: center;
justify-content:space-between;
/* background-image: url("../img/surfing-926822_960_720.jpg"); */
background-color: #0d5474;
background-position:center;
background-size: cover;
background-repeat: no-repeat;
background-position:bottom ;
min-height: 200px;
background: rgb(14,68,93);
background: linear-gradient(180deg, rgba(14,68,93,1) 0%, rgba(13,84,116,1) 8%, rgba(13,84,116,1) 88%, rgba(14,68,93,1) 100%);
}
.banderas__div{
    width: 250px;
/*     background-color: black; */
    text-align: center;
}

.banderas__text{

width: 100%;
    color: white;
    text-shadow: black 5px 5px 5px;
    font-family: FORTQUINSY;

}

.banderas__img{
height: 100%;
align-items: center;

border-radius: 30px;
padding: 10px;

    
}

.banderas__caras{
border-radius: 50%;
width: 100%;
background-color: #f5f5f5;
border:4px
solid black;


}
