
.evento{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    }
    
    .evento__titulo{
        font-size: 140px;
        padding-top: 80px;
        text-shadow: 5px 5px 5px black;
        width: 100%;
        min-height: 400px;
    text-align: center;
    color:white;
    background-image:url(../img/shifaaz-shamoon-PHwOf2yC1Tk-unsplash.jpg);
    background-size:cover;
    background-position:center;
    }
    
    .evento__parrafo{
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 25px;
    height: 200px;
    font-family:'Rubik', sans-serif;;
    text-align: center;
    background-image: url(../img/bg-pattern-desktop_1650404058.png);
    background-position: bottom;
    background-size: contain;
    }
    
    
    .evento__video{
        width: 100%;
        margin: 10px 0;
    }
    
    #evento__video2{
        height: 600px;
    }
    
    