
.evento{
/*     color: white; */
    @include generarflex(column,center,center);

    &__titulo{
        font-size: 140px;
        padding-top: 80px;
        text-shadow: 5px 5px 5px black;
        width: 100%;
        min-height: 400px;
    text-align: center;
    color:white;
    background-image:url(../img/shifaaz-shamoon-PHwOf2yC1Tk-unsplash.jpg);
    background-size:cover;
    background-position:center;
    }

    &__parrafo{
        padding-top: 60px;
        padding-bottom: 40px;
        font-size: 25px;
        height: 200px;
        font-family:'Rubik', sans-serif;;
        text-align: center;
        background-image: url(../img/bg-pattern-desktop_1650404058.png);
        background-position: bottom;
        background-size: contain;
        color: white;
        }

        &__video{
            width: 100%;
            height: 100%;
        }
        
    }
    
    #evento__video2{
        height: 600px;
    }
    
    

    .se__1 h1 {
        color: white;
        font-size: 80px;
        z-index: 2;
        font-family:Grape Nuts;
    }

    .se__1{
 background: url("http://s3.amazonaws.com/darkroom-cdn/2017/02/AFP-Getty_TOPSHOT-US-HAWAII-SURFING-PIPELINE.jpg") center  ;
background-size: cover;
height: 500px;
position: relative;

    }
.se__1::before{
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.3;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    
}

    .se__2{ 
        height: 500px;
        text-align: center;
    }

    .se__2 h2{
        color: #009490;
    }

    .se__3{
        background-color: #03989E;
        color: white;
    height: 500px;
    }

    .se__3 h3{
        font-size: 80px;
    }
    .se__4{
        height: 500px;
    }

    .youtube{
        text-decoration: none;   
    color: red; }