footer{
    padding: 30px;
    height: 150px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: solid 2px black;

    ul {
        display: inline-block;
    }

    ul li {
    
        width: 30px;
        display: inline-block;
        margin: 10px;
        transition: $zoom;
    }

    ul li:hover{
        transform: $zoom;    
    }
    h3{
        display: inline-block;
        color: white;
        text-shadow: 5px 5px 5px black;
        font-family: FORTQUINSY;
    }
    }
    
    .footer{
        &__a{
            font-size: 30px;
            list-style: none;
            color: white;
            text-shadow: 5px 5px 5px black;
            
            }
            &__a:hover{
                color: #AED6F1;
                text-shadow: 10px 10px 10px black;

            }
        }
    
    
   