form{
    background-color: grey;
    padding: 60px;
    width: 100%;
    text-align: center;
    background-image:url(https://images.pexels.com/photos/5873905/pexels-photo-5873905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    font-family:'Mukta';

    h1{
        font-family: 'Grape Nuts', cursive; 
    }

    input{
        border-color:black;
        width: 200px;
        height: 30px;
        margin: 10px;
        text-align: center;
        font-size: 20px;
        }
    
        select{
            border-color:black;
            width: 200px;
            height: 30px;
            margin: 10px;
            text-align: center;
            font-size: 20px;
        }
        label{
            display: block;
            font-size: 30px;
            font-weight: bolder;
            font-family: 'Grape Nuts', cursive; 
            }
            button{
                width: 200px;
                height: 50px;
                font-size: 20px;
                font-weight: bolder;
                }
}
.votacion__input{
    border-radius: 20px;
    }
    
    .votacion__texto{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em; 
    }
    
    h1#votacion{
    font-family: 'Kanit', sans-serif;
    }
    
    #votacion{
        font-size: 100px;
        }