form{
    background-color: white;
    padding: 20px;
    text-align: center;
/*     background-image:url(https://images.pexels.com/photos/5873905/pexels-photo-5873905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
 */    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    font-family:'Mukta';
    border-radius: 15px;
    color: white;




                
}


        .votacion__hero{
    position: relative;
    background: url("/coderhouse/img/winner2.jpg")center;
    background-size: cover;
    background-attachment: fixed;
}

        .votacion__hero::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(0,0,0);
/* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,212,255,0) 100%); */
/*         background-color: pink; */
        opacity: 0.6;

}
    form{
        background-color: #0D6EFD;
    }
        
        .formu{
            z-index: 2;
            color: white;
            text-shadow: 1px 1px 2px black;;

        }

        .formu1{
        height: auto;
        }


h1.votacion{
font-size: 70px;
color: white;
font-family: 'Squada One', cursive;
}

.formu h2{
    font-family: 'Flamenco', cursive;;
}