* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  *::before, *::after {
    box-sizing: inherit;
}

@font-face {
    font-family: FORTQUINSY;
    src: url("FORTQUINSY.otf");
}
html {
    box-sizing: border-box;
    font-size: 15px;
}

body {
/*     font-family: 'Grape Nuts'; */
/*     background: $color-principal;
 */    min-height: 100vh;
}
h1.margenes{
        color: white;
        text-shadow: 5px 5px 5px black;
        text-align: center;
        border: solid white 4px;
        background-image: url(../img/participantes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .margenes{
        margin-top: 120px;
    }

    hr {border: 0; height: 2px; text-align: center; background-image: linear-gradient(left, #fff, #000, #fff);}