header{
    width: 100%;
    height: 120px; 
    font-family: 'Grape Nuts' ;
    font-weight:bold;
    background: rgb(14,68,93);
    background:$color-principal;
    position:fixed;
    z-index: 99;
    top: 0;
    @include generarflex(row,space-between,center);


    a{
        display: inline-block;
        }
}

.header {

    &__icon {
        width: 120px;
        margin: 2em;
        height: 120px;
        padding: 10px;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        transition: transform 0.2s;
    }

    &__icon:hover{
        transform: $zoom;
    }

    &__list{
        min-width: 60px;
        text-align: center;
        text-decoration: none;
    font-size: 25px ;
    display: inline-block;
    transition: transform 0.2s;
    }
    &__list:hover{
        transform: $zoom;
        }
        
        &__link{
            color: white;
            text-decoration: none;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__link:hover{
            color: #AED6F1;
            text-shadow: 5px 5px 5px black;
        }      
        &__ul{
            display: inline-block;
            order: 1;
            margin: 2em;
            text-decoration: none;
            }
          
            
  &__hamb{
    display: none;
    }

    &__cerrar{
        display: none;
        }
}

#hamb{
    display: none;
}

.boton{
background:$color-principal;
cursor: pointer;
border-radius:8px;
box-shadow: 5px 5px 5px black ;
color: white;

&hover{
    box-shadow: 10px 10px 10px black;
    color:grey;
    }
}

