

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 120px; 
    font-family: 'Grape Nuts' ;
    font-weight:bold;
    background-color:#0d5474;
    position:fixed;
    z-index: 99;
    top: 0;

}

header a{
display: inline-block;
}

.header__icon {
    width: 120px;
    margin: 2em;
    height: 120px;
    padding: 10px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    transition: transform 0.2s;
}


.header__icon:hover{
    transform: scale(1.1);
}

.header__list{
    min-width: 60px;
    text-align: center;
    text-decoration: none;
font-size: 25px ;
display: inline-block;
transition: transform 0.2s;
}

.header__list:hover{
transform: scale(1.2);
}


.header__link{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.header__link:hover{
    color: #AED6F1;
    text-shadow: 5px 5px 5px black;
}
.header__ul{
    display: inline-block;
    order: 1;
    margin: 2em;
    text-decoration: none;
    }



    .header__hamb{
display: none;
}

#hamb{
    display: none;
}

.header__cerrar{
display: none;
}

.boton{
background-color:#0d5474;
cursor: pointer;
border-radius:8px;
box-shadow: 5px 5px 5px black ;
color: white;
}

.boton:hover{
box-shadow: 10px 10px 10px black;
color:grey;
}