.marcas{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-top:8px solid black;
    border-bottom:8px solid black; ;
    height: 120px;

    &__lista{
        min-height: 100px;
        min-width: 100px;
        }

        &__logos{
            width: 100%;
            height: 100%;
            }
}

ul.marcas{
    background-color: white;
}
li.marcas__lista {
    padding: 5px;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
