.participantes{
display: flex;
justify-content: center;
flex-wrap:wrap;
}

.galeria{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,1fr);
gap: 1em;
}

.participantes__titulo1{
display: block;
text-align: center;
background-color: white;
text-shadow: 5px 5px 5px grey;
font-size: 15px;

}
.participantes__titulo_principal{
font-size: 2rem;
height: 200px;
text-align: center;
background-position: center;
margin-bottom: 0;
}

.participantes__titulo{
display: block;
text-align: center;
background-color: white;
font-size: 8em;
text-shadow: 5px 5px 5px grey;
}

.participantes__texto{
font-family:'Rock Salt', cursive;
text-align: center;
height: 200px;
font-size: 4em;
color: white;
text-shadow: 5px 5px 5px black;
margin-top: auto;
border: solid 2px grey;
background-image: url(../img/kelly_titulo.png);
background-size: cover;
background-position: center;
background-position: end;
background-repeat: no-repeat;
border-radius: 50px;
filter: grayscale(1);
text-align:center;
padding-top: 2em;
}

.participantes__texto:hover{
filter: grayscale(0);   
}


#kelly__titulo{
background-image: url(../img/kelly_titulo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: FORTQUINSY;
font-size: map-get($estilos,font-size);
height: map-get($estilos,height);
text-shadow: map-get($estilos,text-shadow);
color: map-get($estilos,color);
border: map-get($estilos,border);
font-size: map-get($estilos, font-size);
@extend .repite;
}



#kelly__titulo:hover{
filter: grayscale(0);   
}

#italo__titulo{
background-image: url(../img/italo_titulo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
font-family: FORTQUINSY;
height: map-get($estilos,height);
text-shadow: map-get($estilos,text-shadow);
color: map-get($estilos,color);
border: map-get($estilos,border);
font-size: map-get($estilos, font-size);
@extend .repite;
}

#italo__titulo:hover{
filter: grayscale(0);   
}

#john__titulo{
background-image: url(../img/john_titulo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 60%;
font-family: FORTQUINSY;
height: map-get($estilos,height);
text-shadow: map-get($estilos,text-shadow);
color: map-get($estilos,color);
border: map-get($estilos,border);
font-size: map-get($estilos, font-size);
@extend .repite;

}

#john__titulo:hover{
filter: grayscale(0);   
}

#kanoa__titulo{
background-image: url(../img/kanoa_titulo.png);
background-size: cover;
background-repeat: no-repeat;
background-position-y: 60%;
font-family: FORTQUINSY;
height: map-get($estilos,height);
text-shadow: map-get($estilos,text-shadow);
color: map-get($estilos,color);
border: map-get($estilos,border);
font-size: map-get($estilos, font-size);
@extend .repite;
}

#kanoa__titulo:hover{
filter: grayscale(0);   
}

.participantes__parrafo{
font-size: 30px;
min-height: 150px;
padding-top: 20px;
font-family:  'Mukta', sans-serif;;
text-align: center;
background-image: url(../img/imgtexto.jpg);
background-position: top;
background-size: cover;
border:1px solid black;
}

.participantes__img{
margin-top: 30px;
border: solid black 1px;
border-radius: 50%;
background-color: #f5f5f5;

}

.participantes__img3{
padding: 10px;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50px;
}

.participantes__img2{
padding: 10px;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50px;
transition: all 0.5s;
}

.participantes__img2:hover{
    -webkit-transform:$zoom;transform:$zoom;
    overflow:hidden;
}