.participantes2{
    display: flex;
    flex-direction: row;
}
.participantes2:nth-child(even){
    flex-direction: row-reverse;
}

.participantes2__contenedor{
    display: flex;
    flex-direction: column;
}

.participantes2__h1{
    color: black;
    text-align: center;
    font-size: 100px;
    padding-top: 20px;
    margin: 10px auto;
    font-family: 'Russo One', sans-serif;

}

.participantes2__h2{
    color: black;
    text-align: center;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;

}

.participantes2__p{
    color: black;
    text-align: justify;
    margin: 20px 10px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.participantes__img{
    border-radius: 20px;
    padding: 5px;
    filter: grayscale(1);
}

.participantes2 div{
    padding: 10px;
}



.participantes__img:hover{
    filter: grayscale(0);
}

.carruselito{
    width: 800px;
    height: 600px;
    overflow: hidden;
    align-self: center;
    justify-self: center;
}

img .carruselito{
    width: 100%;
    height: 100%;

}

.kelly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly  ;
    border: 1px solid;
    align-items: center;
}

.italo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    border: 1px solid;
    align-items: center;
}

.john{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid;
    align-items: center;
}

.kanoa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    border: 1px solid;
    align-items: center;
}
#kelly__titulo{
    width: 100%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 0 8px 8px white inset;
border: 0;
margin: 1%;

}

#italo__titulo{
    width: 49%;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 0 8px 8px white inset;
border: 0;
margin: 1%;
}

#john__titulo{
    width: 49%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 0 8px 8px white inset;
border: 0;
margin: 1%;
}

#kanoa__titulo{
    width: 49%;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 0 8px 8px white inset;
border: 0;
margin: 1%;
background-position-x: right;

}
.participantes2{
    width: 49%;
}

.participantes__titulo_principal{
    font-size: $step-6;
}


.par__img{
        border-radius: 10px;
        filter: grayscale(1);
        box-shadow: 0 0 15px #ddd;
}

.par__img:hover{
    filter: grayscale(0);
}

.part__h2{
    color: black;
    font-family: 'Russo One', sans-serif;
}

.margenes2{
    background-image: url(../img/participantes.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.part__h1{
    font-size: 60px;
    color: white;
    z-index: 2;
    font-family: fantasy;
}

.part__h{
    font-family: 'Raleway', sans-serif;;
}

.par__p{
    font-family: 'Poiret One', cursive;
}



.carousel-item img{
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.participantes__hero{
    height: 80vh;
    position: relative;
    background-attachment: fixed;
}

.participantes__hero::before{
    content: "";
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.3)
}

.participantes__hero button{
    z-index: 2;
}

.participantes__hero__flecha{
    z-index: 2;
    font-size: 50px;
    color: white;
position: absolute;
bottom: 0;
}

.enviar{
    z-index: 2;
}

.participantes__hero__flecha2{
    font-size: 50px;
    color: #0e445d;
    display: block;
}