.sec{
    display: inline;
background-color: black;
padding-top: 2px;
padding-bottom:2px ;
text-shadow: 5px 5px 5px black;

&__fondo{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 120px;
    height: 800px;
    background-image:url(../img/playa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
    }

    &__texto{
/*         position: absolute; */
        color: white;
        font-size: 150px;
        min-height: 100px;
        z-index: 10;
/*         top: 40%;
        left: 50%; */
/*         transform: translate(-50%,-50%); */
        text-align: center;
        font-family: "FORTQUINSY";

        }
        &__img{
            height: 100%;
            }
            

            &__texto2{
                color: white;
                font-size: 150px;
                min-height: 100px;
                z-index: 10;
                text-align: center;
                font-family: "FORTQUINSY";
            }
}




