$zoom:scale(1.2);


$color-principal: linear-gradient(180deg, #0e445d 0%, #0d5474 8%, #0d5474 88%, #0e445d 100%);



/* aca declaro el mapa y luego lo utilizo con el map-get */


$estilos: (
font-family: FORTQUINSY,
height: 300px,
text-shadow: 5px 5px 5px black,
color: white,
border: solid 2px grey,
font-size: 5em,
);



/* aca declaro el extend para luego utilizarlo */
.repite{font-family:'Rock Salt', cursive;
text-align: center;
margin-top: auto;
filter: grayscale(1);
padding-top: 1em; 
}


@mixin generarflex($direccion,$eje-principal,$eje-secundario) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
}


$step-2: clamp(1.89rem, calc(1.73rem + 0.83vw), 2.34rem);
$step-4: clamp(2.72rem, calc(2.38rem + 1.71vw), 3.66rem);
$step-5: clamp(3.27rem, calc(2.79rem + 2.39vw), 4.58rem);
$step-6: clamp(3.80rem, calc(3.100rem + 2.80vw), 4.80rem);


